.navigation-tags-wrapper {
  width: 100%;
  // margin: 0 auto;
  background-color: var(--background);
  position: sticky;
  height: 70px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--primary-color);
}

.list {
  font-size: 1.2rem;
}

.tag-button {
  cursor: pointer;
  border-radius: 6%;
  padding: 8px;
  text-decoration: none;
  margin-right: 10;
  margin-top: 10;
  padding: "12px 25px";
  transition: color 0.2s ease-in-out;
}

.tag-button:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.selected {
  color: var(--primary-color);
  background-color: var(--hover-color);
}

.selected:hover {
  color: var(--primary-color);
}
