@font-face {
  font-family: "ChunkFive-Regular";
  src: url("../../styles/fonts/ChunkFive-Regular.ttf.woff") format("woff"),
    url("../../styles/fonts/ChunkFive-Regular.ttf.svg#ChunkFive-Regular")
      format("svg"),
    url("../../styles/fonts/ChunkFive-Regular.ttf.eot"),
    url("../../styles/fonts/ChunkFive-Regular.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
